/* Шрифты */

@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/ptsans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
 }

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
  background-color: #F2F2F2;
  padding: 0 40px;
}

html {
  height: 100%;
}

 body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #000000;
 }

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


 /* Header */

.page-header {
  background-color: #FFFFFF;
}

.navigation{
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list,
.navigation-userlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-logo {
  display: flex;
  width: 139px;
  margin-right: 30px;
}

.navigation-list {
  min-width: 345px;
}

.navigation-userlist {
  min-width: 264px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  line-height: 26px;
  font-size: 20px;
  color: inherit;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  padding: 20px 17px;
}

.uppercase {
  text-transform: uppercase;
  background-color: #756257;
  color: #FFFFFF;
  border-radius: 4px;
}


/* Main Logo */

.main-container,
.main-inner {
  flex-grow: 1;
}

.main-logo-title {
  display: block;
  margin: 0 auto;
}

.main-block {
  background-image: url("../images/index-background.jpg");
  background-color: #FFFFFF;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 485px;
  padding: 51px 0 25px;
}

.short-description {
  display: flex;
  flex-direction: column;
  min-height: 282px;
  padding: 63px 0 80px;
  text-align: center;
}

.main-about-sedona {
  margin: 0;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-reasons {
  line-height: 36px;
  font-size: 22px;
  margin: 0;
  margin-top: 31px;
}


/* Search Block */

.search-block {
  background-image: url("../images/catalog-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  line-height: 23px;
  min-height: 408px;
}

.inner-header {
  padding-left: 71px;
  padding-top: 35px;
}

.inner-header-title {
  margin: 0 auto;
  line-height: 78px;
  font-size: 60px;
  font-weight: 700;
  /*padding-top: 35px;*/
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.breadcrumbs-item {
  line-height: 21px;
  font-size: 16px;
  padding-right: 10px;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-top: 45px;
  margin-bottom: 83px;
  margin-left: 71px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  padding-right: 67px;
  flex-grow: 1;
}

.catalog-filter-list {
  padding: 0;
}

.catalog-filter-item {
  list-style-type: none;
}

.catalog-filter-title {
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
}

.cost-container {
  margin-left: auto;
  padding-right: 81px;
  flex-grow: 4;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 72px;
  justify-content: center;
}

.button-accept {
  text-transform: uppercase;
  font-family: inherit;
  line-height: 21px;
  font-size: 16px;
  font-weight: 700;
  background-color: #83B3D3;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
}

.button-reset {
  color: #FFFFFF;
  background: none;
  border: none;
  font-family: inherit;
  width: 160px;
}

.select-control-sort {
  font-family: inherit;
  width: 247px;
  height: 48px;
  border: 1px solid #E5E5E5;
  margin: 0;
}

.search-select-view {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-left: 81px;
}

.search-select-view-item {
  width: 48px;
  height: 48px;
  border: 1px solid #E5E5E5;
  list-style-type: none;
  margin-right: 8px;
}

.search-select-view-item:last-child {
  margin-right: 0;
}

/* Main Content */

.reason-one,
.reason-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description,
.devil-bridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #83B3D3;
  color: #FFFFFF;
  text-align: center;
  width: 400px;
  min-height: 384px;
}

.description-title,
.devil-bridge-title {
  text-transform: uppercase;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
}

.advantages-title,
.advantages-description,
.devil-bridge-description,
.description-text {
  margin: 0 auto;
}

.number {
  margin: 29px 0 30px;
}

.service-list,
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.service-item,
.advantages-item {
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-item {
  padding-bottom: 79px;
}

.service-title,
.advantages-title {
  text-transform: uppercase;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
}

.service-title {
  margin: 23px 0 20px;
}

.house {
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 89px;
}

.food {
  background-color: #FFFFFF;
  padding-top: 91px;
}

.gifts {
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 85px;
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.main-content {
  background-color: #FFFFFF;
}

.search-result {
  display: flex;
  display: row;
  justify-content: space-between;
  margin: 0 72px 53px 71px;
  padding-top: 44px;
  text-transform: uppercase;
  line-height: 39px;
  font-size: 30px;
  font-weight: 700;
  width: 1057px;
  min-height: 48px;
}

.search-overall {
  margin: 0;
}

.product-list {
  width: 1056px;
  margin: 0 72px;
  padding: 0;
  list-style-type: none;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  color: #000000;
  line-height: 31px;
  font-size: 24px;
  font-weight: 700;
}

.product-card-rating {
  line-height: 23px;
}

.product-card-button {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 4px;
}

.details {
  background-color: #756257;
}

.to-favorites {
  background-color: #83B3D3;
}

.favorites {
  background-color: #7DB54F;
}


/* Other blocks */

.search-hotels {
  background-color: #FFFFFF;
  text-align: center;
  min-height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-hotels-title {
  margin: 0 auto;
  padding: 0;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotels-description,
.subscribe-description {
  line-height: 26px;
  font-size: 22px;
  margin: 0;
  margin-top: 29px;
}

.search-hotels-description {
  margin-bottom: 56px;
}

.subscribe-description {
  margin-bottom: 46px;
}

.button-search {
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  background-color: #756257;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
  display: block;
  width: 575px;
  height: 60px;
  margin-left: 312px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 411px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe-title {
  margin: 0 auto;
  padding-top: 94px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-button,
.pagination-show-more,
.pagination-link {
  text-transform: uppercase;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  border: none;
}

.subscribe-button {
  border-radius: 0px 10px 10px 0px;
  font-family: inherit;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 72px 0 72px;
}

.pagination {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  padding-right: 8px;
}

.pagination-item:last-child {
  padding-right: 0;
}

.pagination-show-more,
.pagination-link {
  border-radius: 4px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.pagination-show-more {
  font-family: inherit;
  width: 620px;
  height: 60px;
  margin-left: 290px;
}

.number-card-view {
  margin-left: auto;
  margin-right: 51px;
}

.field {
  border-radius: 10px 0px 0px 10px;
  font-family: inherit;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.select-control {
  font-family: inherit;
  width: 160px;
  height: 48px;
  border: 1px solid #E5E5E5;
  margin: 0;
}

.subscribe-catalog {
  background-color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe-form {
  padding-bottom: 140px;
}

/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.footer-phone-call {
  width: 720px;
  line-height: 40px;
  font-size: 40px;
  color: inherit;
  text-decoration: none;
}

.footer-social-list{
  width: 107px;
}

.html-academy-logo {
  width: 115px;
}
