/* Шрифты */

@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/ptsans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
 }

html {
  height: 100%;
}

 body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #000000;
 }


 /* Header */

.page-header {
  background-color: #FFFFFF;
}

.navigation{
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo,
.navigation-list,
.navigation-userlist {
  margin: 0;
  padding: 0;
}

.navigation-logo {
  width: 139px;
  margin-right: auto;
}

.navigation-list {
  width: 345px;
}

.navigation-userlist {
  width: 264px;
  margin-left: auto;
}

.navigation-link {
  line-height: 26px;
  font-size: 20px;
  color: inherit;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
  background-color: #756257;
  color: #FFFFFF;
  border-radius: 4px;
}


/* Main Logo */

.main-container,
.main-inner {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.main-logo-title {
  display: block;
  margin: 0 auto;
}

.main-block {
  background-image: url("../images/index-background.jpg");
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.short-description {
  height: 282px;
}

.main-about-sedona {
  margin: 0 auto;
  padding-top: 63px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.main-reasons {
  line-height: 36px;
  font-size: 22px;
  text-align: center;
}


/* Search Block */

.search-block {
  background-image: url("../images/catalog-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  line-height: 23px;
}

.inner-header-title {
  margin: 0 auto;
  line-height: 78px;
  font-size: 60px;
  font-weight: 700;
}

.breadcrumbs-item {
  line-height: 21px;
  font-size: 16px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button-accept {
  text-transform: uppercase;
  font-family: inherit;
  line-height: 21px;
  font-size: 16px;
  font-weight: 700;
  background-color: #83B3D3;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}

.button-reset {
  color: #FFFFFF;
  background: none;
  border: none;
  font-family: inherit;
}

.select-control {
  font-family: inherit;
}


/* Main Content */

.reason-one,
.reason-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.service-list,
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.description,
.devil-bridge {
  background-color: #83B3D3;
  color: #FFFFFF;
  text-align: center;
  width: 400px;
  height: 384px;
}

.description-title,
.devil-bridge-title {
  text-transform: uppercase;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 98px;
}

.service-item,
.advantages-item {
  width: 400px;
  height: 384px;
  text-align: center;
}

.house,
.gifts,
.square,
.tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-title,
.advantages-title {
  text-transform: uppercase;
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
}

.advantages-title {
  margin: 0 auto;
  padding-top: 98px;
}

.service-icon-house {
  margin: 0 auto;
  padding-top: 89px;
}

.service-icon-burger {
  margin: 0 auto;
  padding-top: 91px;
}

.service-icon-gift {
  margin: 0 auto;
  padding-top: 91px;
}

.food {
  background-color: #FFFFFF;
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.main-content {
  background-color: #FFFFFF;
}

.search-result {
  text-transform: uppercase;
  line-height: 39px;
  font-size: 30px;
  font-weight: 700;
}

.product-list {
  width: 1056px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  color: #000000;
  line-height: 31px;
  font-size: 24px;
  font-weight: 700;
}

.product-card-rating {
  line-height: 23px;
}

.product-card-button {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 4px;
}

.details {
  background-color: #756257;
}

.to-favorites {
  background-color: #83B3D3;
}

.favorites {
  background-color: #7DB54F;
}


/* Other blocks */

.search-hotels {
  background-color: #FFFFFF;
  text-align: center;
  height: 417px;
}

.search-hotels-title {
  margin: 0 auto;
  padding-top: 91px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotels-description,
.subscribe-description {
  line-height: 26px;
  font-size: 22px;
}

.button {
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  background-color: #756257;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
}

.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #000000;
  color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
  text-align: center;
}

.subscribe-title {
  margin: 0 auto;
  padding-top: 94px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-button,
.pagination-show-more,
.pagination-link {
  text-transform: uppercase;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  border: none;
}

.subscribe-button {
  border-radius: 0px 10px 10px 0px;
  font-family: inherit;
}

.pagination-show-more,
.pagination-link {
  border-radius: 4px;
}

.pagination-show-more {
  font-family: inherit;
}

.field {
  border-radius: 10px 0px 0px 10px;
  font-family: inherit;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.subscribe-catalog {
  background-color: #FFFFFF;
  text-align: center;
}

.subscribe-form {
  padding-bottom: 140px;
}

/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}

.footer-phone-call {
  width: 720px;
  line-height: 40px;
  font-size: 40px;
  color: inherit;
  text-decoration: none;
}

.footer-social-list{
  width: 107px;
}

.html-academy-logo {
  width: 115px;
}
