/* Шрифты */

@font-face {
 font-family: "PT Sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/ptsans-400.woff2") format("woff2");
 font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
 }

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #E5E5E5;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

html {
  height: 100%;
}

 body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;

  background-color: #F2F2F2;
  color: #000000;
 }

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


 /* Header */

.page-header {
  min-height: 65px;
  background-color: #FFFFFF;
}

.navigation {
  position: relative;
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-left: 169px;
}

.navigation-list,
.navigation-userlist {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-logo {
  position: absolute;
  left: 0;
  display: flex;
  width: 139px;
  margin-right: 30px;

}

.navigation-list {
  min-width: 345px;
}

.navigation-userlist {
  align-items: center;
  min-width: 264px;
  margin-left: auto;
}

.navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 19.5px 17px;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  text-align: left;
  text-decoration: none;
}

.navigation-item-userlist {
  min-width: 42px;
  padding-left: 12px;
  padding-right: 12px;
}

.navigation-item {
  position: relative;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link-current:before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:focus {
  outline: 3px solid #83B3D3;
}

.navigation-icon {
  fill: #000000;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon:active {
  fill: rgba(117, 98, 87, 0.3);
}

.favorite {
  position: relative;
}

.favorite-counter {
  position: absolute;
  top: 10px;
  left: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 10px;
  letter-spacing: -0.1em;
}

.uppercase {
  width: 160px;
  margin-left: 20px;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
  text-transform: uppercase;
}

.uppercase:focus {
  outline: 3px solid #83B3D3;
}

.uppercase:hover {
  background-color: #615048;
  color: #FFFFFF;
}

.uppercase:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}


/* Main Logo */

.main-container,
.main-inner {
  flex-grow: 1;
  background-color: #FFFFFF;
}

.main-logo-title {
  display: block;
  margin: 0 auto;
}

.main-block {
  min-height: 485px;
  padding: 51px 0 25px;
  background-color: #FFFFFF;
  background-image: url("../images/index-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.divider {
  min-height: 57px;
  margin-top: -0.5px;
  background-color: #FFFFFF;
  background-image: url("../images/divider.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.short-description {
  display: flex;
  flex-direction: column;
  min-height: 282px;
  padding: 63px 0 80px;
  text-align: center;
}

.main-about-sedona {
  margin: 0;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-reasons {
  margin: 0;
  margin-top: 31px;
  font-size: 22px;
  line-height: 36px;
}


/* Search Block */

.search-block {
  min-height: 408px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header {
  padding-left: 71px;
  padding-top: 35px;
}

.inner-header-title {
  margin: 0 auto;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 6px;
  padding-right: 6px;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item::after {
  width: 5px;
  height: 8px;
  margin-left: 5px;
  margin-right: 5px;
  background: url(../images/breadcrumbs-arrow.svg) no-repeat center;
  content: '';
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.home-icon {
  fill: #FFFFFF;
}

.home-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:hover {
  color:rgba(255, 255, 255, 0.6);
}

.home-icon:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus  {
  border-radius: 4px;
  outline: 3px solid #83B3D3;
}

.breadcrumbs-link:active {
  color:rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item::after {
  background-image: url(../images/breadcrumbs-arrow.svg);
  background-repeat: no-repeat;
}

.catalog-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px auto 83px;
  padding-left: 72px;
  padding-right: 72px;
}

.catalog-filter-group {
  flex-grow: 1;
  padding: 0;
  padding-right: 67px;
  border: none;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  list-style-type: none;
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control,
.control-box {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.control-box:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input-box:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input-box:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input-box:checked + .control-mark {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input + .control-mark {
  border-radius: 50%;
}

.control-input:checked + .control-mark::before {
  position: absolute;
  top: 3.8px;
  left: 3.8px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-label {
  line-height: 23px;
}

.cost {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.cost-container {
  margin-left: auto;
  padding-right: 81px;
}

.range-input {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 18px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: transparent;
  border: none;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.catalog-filter-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 143px;
}

.catalog-filter-label:nth-child(1) {
  border-right: 1px solid #FFFFFF;
}

.catalog-filter-label:nth-child(2) {
  border-left: 1px solid #FFFFFF;
}

.range-input:hover {
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
}

.crange-input:focus {
  box-shadow: 0 0 0 3px #81B3D2;
}

.range-input:active {
  background-color: #756257;
}

.from,
.to {
  position: absolute;
  right: 14px;
  top: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  color:rgba(255, 255, 255, 0.6);
}

.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  margin-top: 32px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  left: 10px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}

.range-toggle:active{
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.button-accept {
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
  margin-top: 60px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.button-accept:hover {
  color: #FFFFFF;
  background-color: #68A2CA;
}

.button-accept:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.button-accept:focus {
  outline: 3px solid #FFFFFF;
}

.button-reset {
  width: 160px;
  font-family: inherit;
  color: #FFFFFF;
  border: none;
  background: none;
  cursor: pointer;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:focus {
  border-radius: 4px;
  outline: 3px solid #68A2CA;
}

.select-control-sort {
  width: 287px;
  height: 48px;
  margin: 0;
  margin-left: auto;
  padding-left: 19px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url(../images/list-arrow.svg);
  background-repeat: no-repeat;
  background-position: 255px 18px;
  appearance: none;
}

.select-control-sort:hover,
.select-control-sort:focus,
.select-control-sort:focus-visible {
  border: 2px solid #83B3D3;
  outline: none;
}

.select-control-sort:active {
  border: 2px solid #E6E6E6;
  opacity: 0.3;
}

.search-select-view {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-left: 81px;
}

.search-select-view-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  list-style-type: none;
}

.search-select-view-item:last-child {
  margin-right: 0;
}

/* Main Content */

.reason-one,
.reason-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description,
.devil-bridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 384px;
  color: #FFFFFF;
  text-align: center;
  background-color: #83B3D3;
}

.description-title,
.devil-bridge-title {
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title,
.advantages-description,
.devil-bridge-description,
.description-text {
  margin: 0 auto;
}

.number {
  margin: 29px 0 30px;
}

.service-list,
.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.service-item,
.advantages-item {
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-item {
  padding-bottom: 79px;
}

.service-title,
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-title {
  margin: 23px 0 20px;
}

.house {
  padding-top: 89px;
  background-color: rgba(131, 179, 211, 0.12);
}

.food {
  padding-top: 91px;
  background-color: #FFFFFF;
}

.gifts {
  padding-top: 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.square,
.tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.main-content {
  background-color: #FFFFFF;
}

.search-result {
  position: relative;
  display: flex;
  width: 1057px;
  min-height: 48px;
  margin: 0 auto 53px auto;
  padding-top: 44px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-overall {
  margin: 0;
}

.button-toggle {
  position: relative;
  display: block;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-toggle-current {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-toggle:hover,
.button-toggle:focus {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.search-viev-signs {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 10px 18px;
  width: 1056px;
  margin: 0 72px 34px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-link:hover {
  opacity: 0.6;
}

.product-card-link:active {
  opacity: 0.3;
}

.product-card-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.product-card-title,
.product-card-type,
.product-card-price,
.product-card-button,
.product-card-stars,
.product-card-rating {
  margin: 0;
}

.container-hotel-type {
  display: flex;
}

.product-card-type {
  width: 133px;
  margin-right: 25px;
}

.container-hotel-buttons {
  display: flex;
  justify-content: space-between;
}

.container-hotel-rating{
  display: flex;
  justify-content: space-between;
}

.product-card-rating {
  width: 160px;
  height: 37px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-transform: uppercase;
}

.product-card-button {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.details {
  width: 133px;
  height: 37px;
  padding-top: 9px;
  padding-bottom: 10px;
  background-color: #756257;
}

.details:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.details:hover {
  background-color: #615048;
}

.details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.to-favorites {
  width: 141px;
  height: 37px;
  padding-top: 9px;
  padding-bottom: 10px;
  background-color: #83B3D3;
}

.favorites {
  width: 141px;
  height: 37px;
  padding-top: 9px;
  padding-bottom: 10px;
  background-color: #7DB54F;
}

.favorites:focus {
  background-color: #6C9E42;
  border-radius: 4px;
  outline: 3px solid #756257;
}

.favorites:hover {
  background-color: #6C9E42;
}

.favorites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6C9E42;
}

.product-card-stars {
  align-self: center;
}

/* Other blocks */

.search-hotels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 417px;
  text-align: center;
  background-color: #FFFFFF;
}

.search-hotels-title {
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotels-description,
.subscribe-description {
  margin: 0;
  margin-top: 29px;
  font-size: 22px;
  line-height: 26px;
}

.search-hotels-description {
  margin-bottom: 56px;
}

.subscribe-description {
  margin-bottom: 46px;
}

.button-search {
  display: block;
  width: 575px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-search:focus {
  outline: 3px solid #83B3D3;
}

.button-search:hover {
  color: #FFFFFF;
  background-color: #615048;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 411px;
  padding-bottom: 94px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0 auto;
  padding-top: 94px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.container-show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1055px;
  height: 120px;
  margin: 0 auto;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.subscribe-button,
.pagination-show-more,
.pagination-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
}

.subscribe-button {
  padding: 0;
  font-family: inherit;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.subscribe-button:hover {
  color: #FFFFFF;
  background-color: #68A2CA;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.subscribe-button:focus {
  outline: 3px solid #756257;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px 72px 0 72px;
}

.pagination {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  padding-right: 8px;
}

.pagination-item:last-child {
  padding-right: 0;
}

.pagination-show-more,
.pagination-link {
  border-radius: 4px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  text-align: center;
  box-sizing: border-box;
}

.pagination-link:hover,
.pagination-show-more:hover,
.to-favorites:hover {
  color: #FFFFFF;
  background-color: #68A2CA;
}

.pagination-link:active,
.pagination-show-more:active,
.to-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.pagination-link:focus,
.pagination-show-more:focus,
.to-favorites:focus {
  outline: 3px solid #756257;
}

.pagination-show-more {
  width: 620px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

.number-card-view {
  margin-left: auto;
  margin-right: 51px;
}

.field {
  position: relative;
  padding: 0;
  padding-left: 22px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.field .invalid {
  background-color: #FFFFFF;
  outline: 2px solid #FF5757;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.select-control {
  width: 160px;
  height: 48px;
  margin: 0;
  padding-left: 17px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url(../images/list-arrow.svg);
  background-repeat: no-repeat;
  background-position: 127px 19px;
  appearance: none;
}

.select-control:hover,
.select-control:focus,
.select-control:focus-visible {
  border: 2px solid #83B3D3;
  outline: none;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  opacity: 0.3;
}

.subscribe-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 140px;
  text-align: center;
  background-color: #FFFFFF;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 600px 200px;
  width: 800px;
  height: 60px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 72px;
  background-color: #FFFFFF;
}

.footer-phone-call {
  width: 720px;
  padding: 15px;
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

.footer-phone-call:hover {
  color: #756257;
}

.footer-phone-call:focus {
  border-radius: 10px;
  outline: 3px solid #83B3D3;
}

.footer-phone-call:active {
  color: rgba(117, 98, 87, 0.3);
}

.footer-social-list{
  display: flex;
  width: 107px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-social {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
}

.button-social:focus {
  border-radius: 10px;
  outline: 3px solid #83B3D3;
}

.social-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-icon:hover {
  fill: #68A2CA;
  background-color: #FFFFFF;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
  background-color: #FFFFFF;
}

.html-academy-logo {
  fill: #000000;
}

.html-academy-logo:hover {
  fill: #756257;
}

.html-academy-logo:active {
  fill: rgba(117, 98, 87, 0.3);
}

.html-academy-link:focus {
  border-radius: 10px;
  outline: 3px solid #83B3D3;
}


/* Modal window */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal-search {
  position: relative;
  width: 715px;
  min-height: 561px;
  margin: auto;
  padding: 62px 70px 70px 68px;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  padding: 20px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 26.5px;
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-icon {
  fill: #000000;
}

.modal-close-icon:active {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

.calendar-check-in {
  position: absolute;
  right: 0px;
  height: 50px;
  width: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.calendar-check-out {
  position: absolute;
  right: 70px;
  top: 270px;
  height: 50px;
  width: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.field-modal {
  width: 420px;
  height: 50px;
  padding: 0;
  padding-left: 19px;
  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: 390px 18px;
}

.field-modal:hover {
  background-color: #E6E6E6;
}

.field-modal:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.field-modal:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
}

.field-modal:invalid {
  background-color: #FFFFFF;
  outline: 2px solid #FF5757;
}

.check-in-date,
.check-out-date {
  position: relative;
  display: grid;
  grid-template-columns: 155px 420px;
  height: 50px;
}

.check-in-date {
  margin-top: 66px;
}

.check-in-date p,
.check-out-date p,
.adults p,
.children p {
  margin: 0;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.mistake-message,
.success-message {
  margin: 0;
  margin-left: 155px;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 40px;
}

.mistake-message {
  color: #FF5757;
}

.success-message {
  color: #333333;
}

.visitors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.category {
  display: flex;
  align-items: center;
}

.adults {
  display: grid;
  grid-template-columns: 155px 133px;
  height: 50px;
  width: 288px;
}

.children {
  position: relative;
  display: grid;
  grid-template-columns: 97px 133px;
  width: 230px;
  height: 50px;
}

.select-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 133px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.visitors-container-quantity {
  text-align: center;
}

.visitors-container {
  text-align: center;
  cursor: pointer;
  opacity: 0.3;
}

.visitors-container:hover {
  opacity: 1;
}

.visitors-container:active {
  opacity: 0.2;
}

.visitors-container:focus {
  border-radius: 4px;
  outline: 3px solid #83B3D3;
}

.minus {
  margin-bottom: 5px;
}

.minus,
.plus {
  fill:#000000;
}

.tooltip {
  position: absolute;
  top: 12px;
  left: 47px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  background-color: transparent;
  border: none;
}

.tooltip-icon {
  color: #83B3D3;
}

.tooltip-toggle .tooltip-icon:hover {
  color: #68A2CA;
}

.tooltip-text {
  position: absolute;
  right: -121px;
  top: 40px;
  z-index: 1;
  display: none;
  width: 256px;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 10px;
}

.tooltip-text::before {
  position: absolute;
  width: 19px;
  height: 9px;
  top: -9px;
  left: 50%;
  background-image: url(../images/tooltip-triangle.svg);
  transform: translateX(-50%);
  content: '';
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.button-find {
  display: block;
  width: 575px;
  height: 60px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.button-find:hover {
  color: #FFFFFF;
  background-color: #68A2CA;
}

.button-find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
}

.button-find:focus {
  outline: 3px solid #756257;
}
